h1 {
    display: flex;
    justify-content: center;
}

.decoration {
    border: 3px solid #000;
    background-color: lightblue;
    box-shadow: 0 18px 10px -10px rgba(0, 0, 0, .35);
    transition: filter 1s linear;
}

.decoration:hover {
    filter: invert(1);
}
